.badge {
	cursor: pointer;
}

.popover {
    background: #ddd;
    border: 5px solid #444;
    max-width: 400px;
    padding: 0;
    width: 400px;
}
.popover .title {
    background-image: -ms-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background-image: -moz-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background-image: -o-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEEEEE), color-stop(1, #CCCCCC));
    background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #CCCCCC 100%);
    background-image: linear-gradient(to bottom, #EEEEEE 0%, #CCCCCC 100%);
    border-bottom: 1px solid #aaa;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    line-height: 32px;
    padding: 0 8px;
}
.popover .title .comment-count,
.popover .title .approvals,
.popover .title .disapprovals {
    display: inline-block;
}
.popover .title .close-btn {
    color: #888;
    cursor: pointer;
    display: block;
    float: right;
	font-size: 22px;
    line-height: 32px;
	text-align: center;
	width: 20px;
}

.popover .title .close-btn:hover {
	color: #222;
}

.popover .content-inner {
    background: #fff;
    margin: 0;
    padding: 0;
}
.popover .content-inner li {
    list-style-type: none;
    padding: 5px;
}
.popover .content-inner li.no-comments {
    font-style: italic;
}
.popover .footer {
    background-color: rgba(0,0,125,0.1);
    border-top: 1px solid rgba(0,0,125,0.1);
}
.popover .footer {
    padding: 3px;
}
.popover .footer .add-comment-name,
.popover .footer .add-comment-email{
    border: 1px solid rgba(0,0,125,0.2);
    border-radius: 4px;
    padding: 2px 4px;
    margin: 0 1px 4px 1px;
    width: 180px;
}
.popover .footer .add-comment-name {
    float: right;
}
.popover .footer .add-comment-email {
    float: left;
}
.popover .footer textarea {
    border: 1px solid rgba(0,0,125,0.2);
    display: block;
    margin: 0 auto;
    width: 380px;
}
.popover .footer .approval {
    margin-left: 2px;
}
.popover .footer .copyright {
    float: right;
	padding: 6px 2px;
}

.popover .footer button {
	margin: 3px;
}

.popover .arrow {
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
}
.popover .top-arrow {
    border-bottom: 5px solid #444;
    left: 50%;
    margin: -13px 0 0 -3px;
    top: 0;
}
.popover .left-arrow {
    border-right: 5px solid #444;
    right: 100%;
	margin-left: -3px;
    margin-top: -3px;
    top: 50%;
}
.popover .right-arrow {
    border-left: 5px solid #444;
    left: 100%;
    margin-top: -3px;
	margin-left: 3px;
    top: 50%;
}
.popover .bottom-arrow {
    border-top: 5px solid #444;
    left: 50%;
    top: 100%;
    margin-top: 3px;
}