@import "../components/bootstrap/less/bootstrap.less";
@import "../components/bootstrap/less/responsive.less";

@scriptPopoverWidth: 500px;
.script-popover + .popover {
	max-width: @scriptPopoverWidth;
	width: @scriptPopoverWidth;
}

.container-narrow {
	max-width: 700px;
}

.jumbotron {
	margin: 32px 0;
	text-align: center;

	h1 {
		font-size: 72px;
		line-height: 1;
	}

	p {
		margin-top: 24px;
	}
}

.underline {
	border-bottom: 1px solid #ccc;
}

#docs h4 {
	margin-top: 30px;
}

.footer {
	background: #eee;
	box-shadow: inset 0 3px 3px -3px #666;
	padding: 48px;
	text-align: center;

	.power {
		font-size: smaller;
		font-style: italic;
	}
}

::selection {
	background: rgb(255, 225, 0);
}

@media (max-width: 767px) {
	.masthead {
		text-align: center;

		ul.nav {
			display: inline-block;
			float: none;
		}
	}
}